:8080

route /auth/oauth* {
	reverse_proxy localhost:8001
}

route /auth* {
	reverse_proxy localhost:8001
}

route /accounts* {
	reverse_proxy localhost:8001
}

route /categories/grouped* {
	reverse_proxy localhost:8001
}

route /categories* {
	reverse_proxy localhost:8001
}

route /currencies* {
	reverse_proxy localhost:8001
}

route /reports* {
	reverse_proxy localhost:8001
}

route /users* {
	reverse_proxy localhost:8001
}

route /transactions* {
	reverse_proxy localhost:8001
}

route /* {
	reverse_proxy localhost:8001
}
